[submodule "libraries/drivers/sensirion_i2c_sen5x"]
	path = libraries/drivers/sensirion_i2c_sen5x
	url = https://github.com/good-enough-technology/CircuitPython_sensirion_i2c_sen5x
[submodule "libraries/drivers/sensirion_i2c_driver"]
	path = libraries/drivers/sensirion_i2c_driver
	url = https://github.com/good-enough-technology/CircuitPython_sensirion_i2c_driver
